<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../iron-dropdown/iron-dropdown.html">
<link rel="import" href="../neon-animation/neon-animations.html">
<link rel="import" href="expand-animation.html">

<dom-module id="cotton-select-field">
  <style>
    :host {
      display: block;
      position: relative;
    }

    paper-input {
      --paper-input-container-underline: {
        background-color: var(--underline-color, --default-primary-color);
      }
    }

    iron-dropdown {
      position: absolute;
      left: 0 !important;
      top: 55px !important;
      border: 1px solid var(--default-primary-color);
      border-top: none;
      width: calc(100% - 4px);
    }

    :host[no-label] iron-dropdown {
        top: 33px !important;
    }

    paper-listbox {
      background-color: #ffffff;
      padding: 0;
    }

    paper-item {
      cursor: pointer;
      @apply(--option-style);
    }

    paper-item:hover {
      background-color: var(--accent-color);
    }

  </style>
  <template>
    <paper-input label="[[label]]" on-tap="_showOptions" value="[[value]]" no-label-float="[[noLabel]]"></paper-input>
    <iron-dropdown open-animation-config="[[openAnimationConfig]]" close-animation-config="[[closeAnimationConfig]]">
      <paper-listbox class="dropdown-content" on-iron-select="_itemSelected">
        <template is="dom-repeat" items="[[options]]">
          <paper-item>{{item}}</paper-item>
        </template>
      </paper-listbox>
    </iron-dropdown>
  </template>
  <script>
    Polymer({
      is: 'cotton-select-field',
      properties: {
        label: String,
        value: String,
        options: Array,
        isMultiple: {
          type: Boolean,
          value: function () {
            return false;
          }
        },
        noLabel: Boolean,
        openAnimationConfig: {
          type: Array,
          value: function() {
            return [{
              name: 'fade-in-animation',
              timing: {
                delay: 150,
                duration: 50
              }
            }, {
              name: 'expand-animation',
              timing: {
                delay: 150,
                duration: 200
              }
            }];
          }
        },
        closeAnimationConfig: {
          type: Array,
          value: function() {
            return [{
              name: 'fade-out-animation',
              timing: {
                duration: 200
              }
            }];
          }
        }
      },

      _showOptions: function () {
        this.querySelector('iron-dropdown').open();
      },

      _itemSelected: function (e) {
        var itemSelected = e.detail.item.textContent.trim();
        if (this.isMultiple) {
          this.querySelector('paper-listbox').selected = undefined;
        } else {
          this.value = itemSelected;
          this.querySelector('paper-input').value = itemSelected;
        }
        this.querySelector('iron-dropdown').close();
        this.fire('option-selected', {option: itemSelected});
      }
    });
  </script>
</dom-module>
