<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../neon-animation/neon-animation-behavior.html">

<script>
  Polymer({
    is: 'expand-animation',
    behaviors: [Polymer.NeonAnimationBehavior],

    configure: function(config) {
      var node = config.node;
      var height = node.getBoundingClientRect().height;
      this._effect = new KeyframeEffect(node, [{
        height: (height / 2) + 'px'
      }, {
        height: height + 'px'
      }], this.timingFromConfig(config));
      return this._effect;
    }
  });
</script>
